{% extends "base.html" %}
{% block content %}

<section class="bg-white border rounded-3 p-4">
  <h1 class="h5 mb-2">Документи</h1>
  <p class="text-secondary mb-4">
    Документи надаються у форматі PDF. Натисніть для перегляду.
  </p>

  <div class="row g-4">

    <!-- Документ -->
    <div class="col-sm-6 col-lg-4">
      <a href="/media/documents/public-offer.pdf"
         target="_blank" rel="noopener"
         class="doc-card">

        <div class="doc-preview">
          <img src="/media/documents/public-offer.png"
               alt="Публічна оферта">
        </div>

        <div class="doc-body">
          <div class="doc-title">Публічна оферта</div>
          <div class="doc-meta">
            <i class="bi bi-file-earmark-pdf me-1"></i> PDF
          </div>
        </div>
      </a>
    </div>

    <div class="col-sm-6 col-lg-4">
      <a href="/media/documents/privacy-policy.pdf"
         target="_blank" rel="noopener"
         class="doc-card">

        <div class="doc-preview">
          <img src="/media/documents/privacy-policy.png"
               alt="Політика конфіденційності">
        </div>

        <div class="doc-body">
          <div class="doc-title">Політика конфіденційності</div>
          <div class="doc-meta">
            <i class="bi bi-file-earmark-pdf me-1"></i> PDF
          </div>
        </div>
      </a>
    </div>

    <div class="col-sm-6 col-lg-4">
      <a href="/media/documents/vytjag.pdf"
         target="_blank" rel="noopener"
         class="doc-card">

        <div class="doc-preview">
          <img src="/media/documents/vytjag.png"
               alt="Згода на обробку персональних даних">
        </div>

        <div class="doc-body">
          <div class="doc-title">Витяг з ЄДР</div>
          <div class="doc-meta">
            <i class="bi bi-file-earmark-pdf me-1"></i> PDF
          </div>
        </div>
      </a>
    </div>

    <div class="col-sm-6 col-lg-4">
      <a href="/media/documents/polityka_kyc_aml.pdf"
         target="_blank" rel="noopener"
         class="doc-card">

        <div class="doc-preview">
          <img src="/media/documents/polityka_kyc_aml.png"
               alt="Згода на обробку персональних даних">
        </div>

        <div class="doc-body">
          <div class="doc-title">Політика KYC / AML</div>
          <div class="doc-meta">
            <i class="bi bi-file-earmark-pdf me-1"></i> PDF
          </div>
        </div>
      </a>
    </div>
  </div>
</section>

{% endblock %}
